.og-widget, .og-popup-offer {
    font-size: 1em !important;
    line-height: 1 !important;
    direction: ltr !important;
    text-align: left !important;
    color: #000 !important;
    font-style: normal !important;
    font-weight: 400 !important;
    text-decoration: none !important;
    list-style-type: disc !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    cursor: auto !important;
}

    .og-widget h1, .og-popup-offer h1, .og-widget h2, .og-popup-offer h2, .og-widget h3, .og-popup-offer h3, .og-widget h4, .og-popup-offer h4, .og-widget h5, .og-popup-offer h5, .og-widget h6, .og-popup-offer h6, .og-widget p, .og-popup-offer p, .og-widget td, .og-popup-offer td, .og-widget dl, .og-popup-offer dl, .og-widget tr, .og-popup-offer tr, .og-widget dt, .og-popup-offer dt, .og-widget ol, .og-popup-offer ol, .og-widget form, .og-popup-offer form, .og-widget select, .og-popup-offer select, .og-widget option, .og-popup-offer option, .og-widget pre, .og-popup-offer pre, .og-widget div, .og-popup-offer div, .og-widget table, .og-popup-offer table, .og-widget th, .og-popup-offer th, .og-widget button, .og-popup-offer button, .og-widget tbody, .og-popup-offer tbody, .og-widget tfoot, .og-popup-offer tfoot, .og-widget caption, .og-popup-offer caption, .og-widget thead, .og-popup-offer thead, .og-widget ul, .og-popup-offer ul, .og-widget li, .og-popup-offer li, .og-widget address, .og-popup-offer address, .og-widget blockquote, .og-popup-offer blockquote, .og-widget dd, .og-popup-offer dd, .og-widget fieldset, .og-popup-offer fieldset, .og-widget li, .og-popup-offer li, .og-widget iframe, .og-popup-offer iframe, .og-widget strong, .og-popup-offer strong, .og-widget legend, .og-popup-offer legend, .og-widget em, .og-popup-offer em, .og-widget s, .og-popup-offer s, .og-widget cite, .og-popup-offer cite, .og-widget span, .og-popup-offer span, .og-widget input, .og-popup-offer input, .og-widget sup, .og-popup-offer sup, .og-widget label, .og-popup-offer label, .og-widget dfn, .og-popup-offer dfn, .og-widget object, .og-popup-offer object, .og-widget big, .og-popup-offer big, .og-widget q, .og-popup-offer q, .og-widget font, .og-popup-offer font, .og-widget samp, .og-popup-offer samp, .og-widget acronym, .og-popup-offer acronym, .og-widget small, .og-popup-offer small, .og-widget img, .og-popup-offer img, .og-widget strike, .og-popup-offer strike, .og-widget code, .og-popup-offer code, .og-widget sub, .og-popup-offer sub, .og-widget ins, .og-popup-offer ins, .og-widget textarea, .og-popup-offer textarea, .og-widget var, .og-popup-offer var, .og-widget a, .og-popup-offer a, .og-widget abbr, .og-popup-offer abbr, .og-widget applet, .og-popup-offer applet, .og-widget del, .og-popup-offer del, .og-widget kbd, .og-popup-offer kbd, .og-widget tt, .og-popup-offer tt, .og-widget b, .og-popup-offer b, .og-widget i, .og-popup-offer i, .og-widget hr, .og-popup-offer hr, .og-widget article, .og-popup-offer article, .og-widget aside, .og-popup-offer aside, .og-widget dialog, .og-popup-offer dialog, .og-widget figure, .og-popup-offer figure, .og-widget footer, .og-popup-offer footer, .og-widget header, .og-popup-offer header, .og-widget hgroup, .og-popup-offer hgroup, .og-widget menu, .og-popup-offer menu, .og-widget nav, .og-popup-offer nav, .og-widget section, .og-popup-offer section, .og-widget time, .og-popup-offer time, .og-widget mark, .og-popup-offer mark, .og-widget audio, .og-popup-offer audio, .og-widget video, .og-popup-offer video {
        background-attachment: scroll !important;
        background-color: transparent !important;
        background-image: none !important;
        background-position: 0 0 !important;
        background-repeat: repeat !important;
        border-color: #000 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        border-style: none !important;
        border-width: medium !important;
        bottom: auto !important;
        clear: none !important;
        clip: auto !important;
        color: inherit !important;
        counter-increment: none !important;
        counter-reset: none !important;
        cursor: inherit !important;
        direction: inherit !important;
        display: inline !important;
        float: none !important;
        font-family: inherit !important;
        font-size: inherit !important;
        font-style: inherit !important;
        font-variant: normal !important;
        font-weight: inherit !important;
        height: auto !important;
        left: auto !important;
        letter-spacing: normal !important;
        line-height: inherit !important;
        list-style-type: inherit !important;
        list-style-position: outside !important;
        list-style-image: none !important;
        margin: 0 !important;
        max-height: none !important;
        max-width: none !important;
        min-height: 0 !important;
        min-width: 0 !important;
        opacity: 1 !important;
        outline: invert none medium !important;
        overflow: visible !important;
        padding: 0 !important;
        position: static !important;
        quotes: "" "" !important;
        right: auto !important;
        table-layout: auto !important;
        text-align: inherit !important;
        text-decoration: inherit !important;
        text-indent: 0 !important;
        text-transform: none !important;
        top: auto !important;
        unicode-bidi: normal !important;
        vertical-align: baseline !important;
        visibility: inherit !important;
        white-space: normal !important;
        width: auto !important;
        word-spacing: normal !important;
        z-index: auto !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        text-shadow: none !important;
    }

    .og-widget h3, .og-popup-offer h3, .og-widget h5, .og-popup-offer h5, .og-widget p, .og-popup-offer p, .og-widget h1, .og-popup-offer h1, .og-widget dl, .og-popup-offer dl, .og-widget dt, .og-popup-offer dt, .og-widget h6, .og-popup-offer h6, .og-widget ol, .og-popup-offer ol, .og-widget form, .og-popup-offer form, .og-widget option, .og-popup-offer option, .og-widget pre, .og-popup-offer pre, .og-widget div, .og-popup-offer div, .og-widget h2, .og-popup-offer h2, .og-widget caption, .og-popup-offer caption, .og-widget h4, .og-popup-offer h4, .og-widget ul, .og-popup-offer ul, .og-widget address, .og-popup-offer address, .og-widget blockquote, .og-popup-offer blockquote, .og-widget dd, .og-popup-offer dd, .og-widget fieldset, .og-popup-offer fieldset, .og-widget textarea, .og-popup-offer textarea, .og-widget hr, .og-popup-offer hr, .og-widget article, .og-popup-offer article, .og-widget aside, .og-popup-offer aside, .og-widget dialog, .og-popup-offer dialog, .og-widget figure, .og-popup-offer figure, .og-widget footer, .og-popup-offer footer, .og-widget header, .og-popup-offer header, .og-widget hgroup, .og-popup-offer hgroup, .og-widget menu, .og-popup-offer menu, .og-widget nav, .og-popup-offer nav, .og-widget section, .og-popup-offer section {
        display: block !important;
    }

    .og-widget select, .og-popup-offer select {
        display: inline-block !important;
    }

    .og-widget table, .og-popup-offer table {
        display: table !important;
    }

    .og-widget tbody, .og-popup-offer tbody {
        display: table-row-group !important;
    }

    .og-widget tfoot, .og-popup-offer tfoot {
        display: table-footer-group !important;
    }

    .og-widget tr, .og-popup-offer tr {
        display: table-row !important;
    }

    .og-widget th, .og-popup-offer th, .og-widget td, .og-popup-offer td {
        display: table-cell !important;
    }

    .og-widget nav ul, .og-popup-offer nav ul, .og-widget nav ol, .og-popup-offer nav ol {
        list-style-type: none !important;
    }

    .og-widget ul, .og-popup-offer ul, .og-widget menu, .og-popup-offer menu {
        list-style-type: disc !important;
    }

    .og-widget ol, .og-popup-offer ol {
        list-style-type: decimal !important;
    }

        .og-widget ol ul, .og-popup-offer ol ul, .og-widget ul ul, .og-popup-offer ul ul, .og-widget menu ul, .og-popup-offer menu ul, .og-widget ol menu, .og-popup-offer ol menu, .og-widget ul menu, .og-popup-offer ul menu, .og-widget menu menu, .og-popup-offer menu menu {
            list-style-type: circle !important;
        }

            .og-widget ol ol ul, .og-popup-offer ol ol ul, .og-widget ol ul ul, .og-popup-offer ol ul ul, .og-widget ol menu ul, .og-popup-offer ol menu ul, .og-widget ol ol menu, .og-popup-offer ol ol menu, .og-widget ol ul menu, .og-popup-offer ol ul menu, .og-widget ol menu menu, .og-popup-offer ol menu menu, .og-widget ul ol ul, .og-popup-offer ul ol ul, .og-widget ul ul ul, .og-popup-offer ul ul ul, .og-widget ul menu ul, .og-popup-offer ul menu ul, .og-widget ul ol menu, .og-popup-offer ul ol menu, .og-widget ul ul menu, .og-popup-offer ul ul menu, .og-widget ul menu menu, .og-popup-offer ul menu menu, .og-widget menu ol ul, .og-popup-offer menu ol ul, .og-widget menu ul ul, .og-popup-offer menu ul ul, .og-widget menu menu ul, .og-popup-offer menu menu ul, .og-widget menu ol menu, .og-popup-offer menu ol menu, .og-widget menu ul menu, .og-popup-offer menu ul menu, .og-widget menu menu menu, .og-popup-offer menu menu menu {
                list-style-type: square !important;
            }

    .og-widget li, .og-popup-offer li {
        display: list-item !important;
        min-height: auto !important;
        min-width: auto !important;
    }

    .og-widget strong, .og-popup-offer strong {
        font-weight: 700 !important;
    }

    .og-widget em, .og-popup-offer em {
        font-style: italic !important;
    }

    .og-widget kbd, .og-popup-offer kbd, .og-widget samp, .og-popup-offer samp, .og-widget code, .og-popup-offer code {
        font-family: monospace !important;
    }

    .og-widget a, .og-popup-offer a, .og-widget a *, .og-popup-offer a *, .og-widget input[type=submit], .og-popup-offer input[type=submit], .og-widget input[type=radio], .og-popup-offer input[type=radio], .og-widget input[type=checkbox], .og-popup-offer input[type=checkbox], .og-widget select, .og-popup-offer select, .og-widget label, .og-popup-offer label {
        cursor: pointer !important;
    }

        .og-widget a:hover, .og-popup-offer a:hover {
            text-decoration: underline !important;
        }

    .og-widget button, .og-popup-offer button, .og-widget input[type=submit], .og-popup-offer input[type=submit] {
        text-align: center !important;
    }

    .og-widget input[type=hidden], .og-popup-offer input[type=hidden] {
        display: none !important;
    }

    .og-widget abbr[title], .og-popup-offer abbr[title], .og-widget acronym[title], .og-popup-offer acronym[title], .og-widget dfn[title], .og-popup-offer dfn[title] {
        cursor: help !important;
        border-bottom-width: 1px !important;
        border-bottom-style: dotted !important;
    }

    .og-widget ins, .og-popup-offer ins {
        background-color: #ff9 !important;
        color: #000 !important;
    }

    .og-widget del, .og-popup-offer del {
        text-decoration: line-through !important;
    }

    .og-widget blockquote, .og-popup-offer blockquote, .og-widget .og-widget q, .og-popup-offer .og-widget q {
        quotes: none !important;
    }

    .og-widget input, .og-popup-offer input, .og-widget select, .og-popup-offer select {
        vertical-align: middle !important;
        background-color: #fff !important;
    }

    .og-widget select, .og-popup-offer select, .og-widget textarea, .og-popup-offer textarea, .og-widget input, .og-popup-offer input {
        border: 1px solid #ccc !important;
    }

    .og-widget table, .og-popup-offer table {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
    }

    .og-widget hr, .og-popup-offer hr {
        display: block !important;
        height: 1px !important;
        border: 0 !important;
        border-top: 1px solid #ccc !important;
        margin: 1em 0 !important;
    }

    .og-widget [dir=rtl], .og-popup-offer [dir=rtl] {
        direction: rtl !important;
    }

    .og-widget mark, .og-popup-offer mark {
        background-color: #ff9 !important;
        color: #000 !important;
        font-style: italic !important;
        font-weight: 700 !important;
    }

    .og-widget .og-select {
        vertical-align: middle !important;
        padding: 2px 0 !important;
    }

    .og-widget .og-link {
        cursor: pointer !important;
        text-decoration: underline !important;
    }

    .og-widget .og-strong {
        font-weight: 700 !important;
    }

    .og-widget .og-tooltip-el, .og-msi .og-tooltip-el {
        position: relative !important;
        cursor: pointer !important;
    }

    .og-widget .og-tooltip, .og-msi .og-tooltip {
        z-index: 9998 !important;
        position: absolute !important;
        bottom: 100% !important;
        left: 50% !important;
        color: #000 !important;
        margin-bottom: 10px !important;
        margin-left: -130px !important;
        padding: 7px !important;
        width: 260px !important;
        background-color: #fff !important;
        border: 1px solid #ccc !important;
        border: 1px solid rgba(0,0,0,.2) !important;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
        box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
    }

        .og-widget .og-tooltip.og-tooltip-down, .og-msi .og-tooltip.og-tooltip-down {
            top: 100% !important;
            bottom: auto !important;
            margin-top: 10px !important;
            margin-bottom: 0 !important;
        }

    .og-widget .og-tooltip-pointer, .og-msi .og-tooltip-pointer, .og-widget .og-tooltip-pointer:after, .og-msi .og-tooltip-pointer:after {
        border-color: transparent !important;
        border-style: solid !important;
        position: absolute !important;
        width: 0 !important;
        height: 0 !important;
        display: block !important;
    }

        .og-widget .og-tooltip-pointer.og-tooltip-down, .og-msi .og-tooltip-pointer.og-tooltip-down {
            margin-top: -11px !important;
        }

    .og-widget .og-tooltip-pointer, .og-msi .og-tooltip-pointer {
        z-index: 9999 !important;
        bottom: 100% !important;
        left: 50% !important;
        margin-left: -11px !important;
        border-width: 11px !important;
        border-top-color: #999 !important;
        border-top-color: rgba(0,0,0,.25) !important;
        border-bottom-width: 0 !important;
    }

        .og-widget .og-tooltip-pointer:after, .og-msi .og-tooltip-pointer:after {
            bottom: 1px !important;
            left: -11px !important;
            content: " " !important;
            border-width: 11px !important;
            border-top-color: #fff !important;
            border-bottom-width: 0 !important;
        }

        .og-widget .og-tooltip-pointer.og-tooltip-down, .og-msi .og-tooltip-pointer.og-tooltip-down {
            top: 100% !important;
            bottom: auto !important;
            border-width: 11px !important;
            border-top-color: transparent !important;
            border-bottom-color: #999 !important;
            border-bottom-color: rgba(0,0,0,.25) !important;
        }

            .og-widget .og-tooltip-pointer.og-tooltip-down:after, .og-msi .og-tooltip-pointer.og-tooltip-down:after {
                bottom: auto !important;
                top: 1px !important;
                left: -10px !important;
                content: " " !important;
                border-width: 10px !important;
                border-top-color: transparent !important;
                border-bottom-color: #fff !important;
                border-top-width: 0 !important;
            }

    .og-widget .og-tooltip-part, .og-msi .og-tooltip-part {
        display: none !important;
        text-decoration: none !important;
    }

    .og-widget .og-tooltip-el.og-active .og-tooltip-part, .og-msi .og-tooltip-el.og-active .og-tooltip-part {
        display: block !important;
    }

.og-popup-container {
    width: 41em !important;
    font-size: 1.2em !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.og-popup-offer.og-overlay, .og-popup-offer.og-popup-background {
    z-index: 1050 !important;
    position: fixed !important;
    display: none !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.og-popup-offer.og-overlay {
    z-index: 1040 !important;
    background-color: #e6e7e9 !important;
    opacity: .5 !important;
}

.og-popup-offer .og-popup-container {
    position: relative !important;
    margin: 0 auto !important;
    width: 31em !important;
    border: 1px solid !important;
    font-family: Arial,Arial,sans-serif !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    background-color: #fff !important;
}

    .og-popup-offer .og-popup-container .og-popup-close, .og-popup-offer .og-popup-container .og-close {
        cursor: pointer !important;
    }

@media (max-width:31em) {
    .og-popup-offer.og-popup-background {
        position: absolute !important;
    }

    .og-popup-offer .og-popup-container {
        margin: 0 !important;
        width: auto !important;
    }
}

.og-popup-offer .og-popup-close {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
}

.og-popup-offer .og-popup-main {
    padding: 20px !important;
}

    .og-popup-offer .og-popup-main .og-popup-text {
        margin: 10px 0 !important;
    }

    .og-popup-offer .og-popup-main .og-actions {
        text-align: right !important;
    }

        .og-popup-offer .og-popup-main .og-actions button, .og-popup-offer .og-popup-main .og-actions input {
            font-size: 100% !important;
            cursor: pointer !important;
        }

    .og-popup-offer .og-popup-main .og-option-row {
        margin-bottom: 10px !important;
    }

        .og-popup-offer .og-popup-main .og-option-row input[type=radio] {
            float: left !important;
        }

        .og-popup-offer .og-popup-main .og-option-row .og-radio-group {
            margin: 0 0 0 20px !important;
        }

.og-popup-offer .og-popup-close, .og-popup-offer .og-close {
    background: url(../images/x_gray.png) no-repeat !important;
    cursor: pointer !important;
    height: 16px !important;
    width: 16px !important;
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
}

.og-popup-offer .og-details-popup {
    background: #fff !important;
    padding: 25px !important;
    font-weight: 400 !important;
}

    .og-popup-offer .og-details-popup .og-details-header {
        background: url(../images/logo-full.png) center center no-repeat !important;
        width: 326px !important;
        height: 136px !important;
    }

    .og-popup-offer .og-details-popup .og-details-list {
        padding-bottom: 15px !important;
        line-height: 1.5em !important;
        list-style-type: none !important;
    }

        .og-popup-offer .og-details-popup .og-details-list li {
            background-image: url(../images/check.png) !important;
            background-repeat: no-repeat !important;
            background-position: 0 10px !important;
            padding: 10px 0 10px 32px !important;
        }

    .og-popup-offer .og-details-popup .og-details-green {
        color: #39803c !important;
        text-decoration: underline !important;
    }

    .og-popup-offer .og-details-popup .og-details-button-row {
        text-align: center !important;
    }

    .og-popup-offer .og-details-popup .og-details-button {
        display: inline-block !important;
        background: #ffc658 !important;
        padding: 10px 15px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
        color: #555 !important;
        font-weight: 700 !important;
        text-transform: uppercase !important;
    }

        .og-popup-offer .og-details-popup .og-details-button:hover {
            text-decoration: none !important;
        }

.og-popup-offer .og-popup-container {
    width: 27em !important;
    border: 1px solid #fff !important;
    -webkit-box-shadow: 0 0 5px 0 !important;
    -moz-box-shadow: 0 0 5px 0 !important;
    box-shadow: 0 0 5px 0 !important;
    margin-top: 60px !important;
}

    .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main {
        padding: 40px 20px 20px 28px !important;
    }

        .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-header {
            height: 80px !important;
            max-width: 312px !important;
            background: url(../images/title.png) no-repeat !important;
            -webkit-background-size: 100% 100% !important;
            -moz-background-size: 100% 100% !important;
            -o-background-size: 100% 100% !important;
            background-size: 100% 100% !important;
            border: none !important;
        }

        .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text {
            color: #848484 !important;
            font-size: 1.2em !important;
        }

            .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text h1 {
                color: #43b02a !important;
                font-size: 1.25em !important;
                font-weight: 700 !important;
                text-transform: capitalize !important;
            }

            .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text ul {
                list-style-type: none !important;
                margin: 0 !important;
                padding: 0 !important;
                line-height: 18px !important;
            }

            .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text li {
                background: url(../images/check.png) no-repeat !important;
                margin-top: 20px !important;
                padding-top: 2px !important;
                padding-left: 32px !important;
            }

                .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text li#og-iu-button-li {
                    background-position: 0 15px !important;
                }

                    .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-popup-text li#og-iu-button-li #og-iu-button-text {
                        display: inline-block !important;
                        position: relative !important;
                        top: -10px !important;
                    }

        .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-actions {
            margin-top: 20px !important;
            text-align: center !important;
        }

            .og-popup-offer .og-popup-container #og-iu-exp-popup .og-popup-main .og-actions .og-button.og-button-primary {
                margin: auto !important;
                background: #ffc658 !important;
                color: #555 !important;
                text-transform: uppercase !important;
            }

    .og-popup-offer .og-popup-container input {
        padding: 0 5px !important;
    }

    .og-popup-offer .og-popup-container .og-iu-popup {
        font-size: 85% !important;
    }

        .og-popup-offer .og-popup-container .og-iu-popup h2 {
            color: #43b02a !important;
            font-weight: 700 !important;
            padding: 0 0 10px !important;
            text-transform: capitalize !important;
        }

    .og-popup-offer .og-popup-container .og-popup-header {
        height: auto !important;
        margin-bottom: 15px !important;
        padding: 5px 0 !important;
        border-bottom: 2px dotted #ccc !important;
        font-size: 1.4em !important;
        font-weight: 700 !important;
    }

        .og-popup-offer .og-popup-container .og-popup-header.og-popup-calendar-header {
            height: 16px !important;
            border-bottom: none !important;
        }

    .og-popup-offer .og-popup-container .og-ribbon, .og-popup-offer .og-popup-container .og-see-details {
        display: none !important;
    }

    .og-popup-offer .og-popup-container .og-actions {
        text-align: right !important;
    }

    .og-popup-offer .og-popup-container .og-button {
        background: #f2f2f3 !important;
        padding: 10px 20px !important;
        border: none !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
        color: #54585a !important;
        font-weight: 700 !important;
        margin-right: 5px !important;
        text-transform: uppercase !important;
    }

        .og-popup-offer .og-popup-container .og-button.og-button-primary {
            background-color: #ffc658 !important;
            -webkit-border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            border-radius: 5px !important;
            color: #555 !important;
        }

    .og-popup-offer .og-popup-container .og-picker {
        display: inline-block !important;
        vertical-align: middle !important;
        padding-top: 6px !important;
        font-family: franklin-gothic-urw,Arial,Helvetica,sans-serif !important;
    }

        .og-popup-offer .og-popup-container .og-picker .og-picker-text {
            margin-right: 4px !important;
        }

        .og-popup-offer .og-popup-container .og-picker .og-select {
            height: auto !important;
            min-width: 100px !important;
            border: 1px solid #d4d4d4 !important;
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
            font-family: Franklin Gothic URW,Arial,Helvetica !important;
            text-transform: capitalize !important;
            background: url(../images/dropdown-arrow.png) !important;
            background-color: #f2f2f3 !important;
            background-repeat: no-repeat !important;
            background-position: right 9px center !important;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            text-indent: .01px !important;
            text-overflow: '' !important;
            padding: 6px 18px 6px 6px !important;
        }

.og-widget .og-option-row {
    margin-bottom: 10px !important;
}

    .og-widget .og-option-row.og-on-row {
        position: relative !important;
    }

.og-widget .og-off-radio, .og-widget .og-on-radio {
    float: left !important;
    width: 25px !important;
    margin: 0 !important;
}

.og-widget .og-radio-group {
    margin: 0 0 0 25px !important;
}

.og-widget .og-on-label {
    font-weight: 700 !important;
}

.og-widget .og-see-details {
    display: inline-block !important;
    cursor: pointer !important;
}

.og-widget .og-details-expander {
    margin: 5px 0 10px !important;
    padding: 10px !important;
}

    .og-widget .og-details-expander .og-details-expander-main {
        padding: 10px !important;
        font-weight: 700 !important;
    }

.og-widget {
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 100% !important;
}

    .og-widget.og-type-CartRadioWidget {
        color: #81878a !important;
    }

        .og-widget.og-type-CartRadioWidget[class*=og-incentive-] {
            color: #81878a !important;
        }

            .og-widget.og-type-CartRadioWidget[class*=og-incentive-] .og-incentive-text {
                display: inline !important;
            }

            .og-widget.og-type-CartRadioWidget[class*=og-incentive-] .og-no-incentive-text {
                display: none !important;
            }

        .og-widget.og-type-CartRadioWidget .og-label {
            line-height: 1.3em !important;
        }

            .og-widget.og-type-CartRadioWidget .og-label .og-questionmark {
                display: none !important;
            }

        .og-widget.og-type-CartRadioWidget .og-edit-label {
            color: #81878a !important;
            margin-left: -4px !important;
        }

            .og-widget.og-type-CartRadioWidget .og-edit-label .og-incentive {
                margin-bottom: 5px !important;
            }

            .og-widget.og-type-CartRadioWidget .og-edit-label .og-hightlight {
                font-weight: 700 !important;
                color: #43b02a !important;
            }

    .og-widget .og-incentive-text {
        display: none !important;
    }

    .og-widget .og-no-incentive-text {
        display: inline !important;
    }

    .og-widget.og-type-CartRadioWidget {
        font-size: 1.085em !important;
    }

        .og-widget.og-type-CartRadioWidget .og-option-row:first-child {
            padding: 5px 0 !important;
        }

        .og-widget.og-type-CartRadioWidget .og-ribbon {
            margin-left: -5px !important;
            padding: 5px 0 0 16px !important;
        }

        .og-widget.og-type-CartRadioWidget[class*=og-incentive-] .og-ribbon {
            background: url(../images/ribbon-green.png) no-repeat !important;
        }

        .og-widget.og-type-CartRadioWidget .og-sub-row-container .og-details-row {
            background-color: #fff !important;
            margin: 0 !important;
            padding: 5px 0 !important;
        }

    .og-widget .og-ribbon {
        background: url(../images/ribbon.png) no-repeat !important;
        width: 252px !important;
        height: 36px !important;
        margin-left: -20px !important;
        padding: 5px 0 0 32px !important;
        color: #fff !important;
        font-family: franklin-gothic-urw-cond-n5,franklin-gothic-urw-cond,Arial,Helvetica,sans-serif !important;
        font-size: 1.6em !important;
        font-weight: 500 !important;
    }

    .og-widget.og-type-RadioWidget {
        font-size: 85% !important;
        color: #555 !important;
    }

        .og-widget.og-type-RadioWidget .og-off-group {
            color: #aaa !important;
        }

        .og-widget.og-type-RadioWidget .og-ribbon {
            display: none !important;
            margin-left: -22px !important;
        }

        .og-widget.og-type-RadioWidget .og-option-row {
            margin-bottom: 12px !important;
        }

            .og-widget.og-type-RadioWidget .og-option-row:first-child {
                background: transparent !important;
                padding: 8px 0 0 !important;
            }

        .og-widget.og-type-RadioWidget .og-sub-row-container {
            border-top: none !important;
        }

        .og-widget.og-type-RadioWidget .og-picker {
            padding-right: 32px !important;
        }

            .og-widget.og-type-RadioWidget .og-picker .og-select {
                min-width: 96px !important;
                height: 32px !important;
            }

        .og-widget.og-type-RadioWidget[class*=og-incentive-] .og-ribbon {
            background: url(../images/ribbon-green.png) no-repeat !important;
        }

    .og-widget.og-offer-60a09f0471c711e4a969bc764e106cf4, .og-widget.og-offer-38ad8182741611e4ad7ebc764e106cf4, .og-widget.og-offer-332f776e5a0411e4ac2dbc764e106cf4 {
        background: transparent !important;
    }

    .og-widget.og-type-IUWidget {
        min-height: 150px !important;
        font-size: 90% !important;
    }

    .og-widget .og-sub-row-container {
        background: none !important;
        max-width: 235px !important;
    }

    .og-widget .og-option-row.og-selected .og-label {
        color: #54585a !important;
    }

    .og-widget .og-label {
        font-weight: 700 !important;
        position: relative !important;
        text-transform: capitalize !important;
        color: #81878a !important;
        font-family: Franklin Gothic URW,Arial,Helvetica !important;
    }

        .og-widget .og-label:hover {
            color: #54585a !important;
        }

        .og-widget .og-label .og-hightlight {
            color: #d27700 !important;
            font-weight: 700 !important;
        }

        .og-widget .og-label .og-questionmark {
            background: #999 !important;
            color: #fff !important;
            display: inline-block !important;
            width: 12px !important;
            height: 12px !important;
            text-align: center !important;
            -webkit-border-radius: 7px !important;
            -moz-border-radius: 7px !important;
            border-radius: 7px !important;
            line-height: 12.5px !important;
            font-size: .7em !important;
            position: absolute !important;
            top: -2px !important;
            right: -19px !important;
        }

            .og-widget .og-label .og-questionmark:hover {
                background-color: #54585a !important;
            }

    .og-widget .og-radio-group {
        margin: 0 0 0 21px !important;
    }

    .og-widget .og-link {
        color: #81878a !important;
    }

    .og-widget .og-picker {
        color: #81878a !important;
        display: inline-block !important;
        vertical-align: middle !important;
        padding-top: 6px !important;
        font-family: franklin-gothic-urw,Arial,Helvetica,sans-serif !important;
    }

        .og-widget .og-picker .og-picker-text {
            font-size: 1.1em !important;
            margin-right: 4px !important;
        }

        .og-widget .og-picker .og-select {
            height: auto !important;
            min-width: 100px !important;
            padding: 6px 18px 6px 6px !important;
            color: #81878a !important;
            border: 1px solid #d4d4d4 !important;
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
            font-family: Franklin Gothic URW,Arial,Helvetica !important;
            text-transform: capitalize !important;
            font-size: 1.1em !important;
            background: url(../images/dropdown-arrow.png) !important;
            background-color: #f2f2f3 !important;
            background-repeat: no-repeat !important;
            background-position: right 9px center !important;
            -moz-appearance: none !important;
            -webkit-appearance: none !important;
            appearance: none !important;
            text-indent: .01px !important;
            text-overflow: '' !important;
        }

    .og-widget .og-details-row {
        line-height: 1.25em !important;
        margin: 3px 0 0 !important;
        color: #81878a !important;
    }

    .og-widget .og-on-row input[type=radio] {
        margin-top: 0 !important;
    }

    .og-widget .og-see-details {
        text-decoration: underline !important;
    }

    .og-widget .og-edit-label {
        background: url(../images/logo.png) !important;
        background-repeat: no-repeat !important;
        background-position: top 2px left !important;
        min-height: 20px !important;
        padding-left: 25px !important;
        font-size: 1em !important;
        line-height: 1.25em !important;
    }

    .og-widget.og-offer-60a09f0471c711e4a969bc764e106cf4, .og-widget.og-offer-38ad8182741611e4ad7ebc764e106cf4, .og-widget.og-offer-cd36a0f292dd11e5abaef0761ce2cf0a, .og-widget.og-offer-cd36a0f392dd11e5abaef0761ce2cf0a, .og-widget.og-offer-b30eb3704cbe11e582183863f6009c9a, .og-widget.og-offer-b30eb8fc4cbe11e582183863f6009c9a {
        margin-top: -60px !important;
        padding: 15px 0 !important;
    }

        .og-widget.og-offer-60a09f0471c711e4a969bc764e106cf4 .og-picker, .og-widget.og-offer-38ad8182741611e4ad7ebc764e106cf4 .og-picker, .og-widget.og-offer-cd36a0f292dd11e5abaef0761ce2cf0a .og-picker, .og-widget.og-offer-cd36a0f392dd11e5abaef0761ce2cf0a .og-picker, .og-widget.og-offer-b30eb3704cbe11e582183863f6009c9a .og-picker, .og-widget.og-offer-b30eb8fc4cbe11e582183863f6009c9a .og-picker {
            padding-top: 4px !important;
        }

            .og-widget.og-offer-60a09f0471c711e4a969bc764e106cf4 .og-picker .og-select, .og-widget.og-offer-38ad8182741611e4ad7ebc764e106cf4 .og-picker .og-select, .og-widget.og-offer-cd36a0f292dd11e5abaef0761ce2cf0a .og-picker .og-select, .og-widget.og-offer-cd36a0f392dd11e5abaef0761ce2cf0a .og-picker .og-select, .og-widget.og-offer-b30eb3704cbe11e582183863f6009c9a .og-picker .og-select, .og-widget.og-offer-b30eb8fc4cbe11e582183863f6009c9a .og-picker .og-select {
                padding: 8px 29px 8px 12px !important;
                font-family: franklin-gothic-urw,Arial,Helvetica,sans-serif !important;
                font-size: 13px !important;
                font-weight: 500 !important;
            }

    .og-widget .og-cat-header-first, .og-widget .og-cat-header-second {
        font-family: franklin-gothic-urw,Arial,Helvetica,sans-serif !important;
    }

    .og-widget.og-offer-cd36a0f292dd11e5abaef0761ce2cf0a .og-cat-header-first, .og-widget.og-offer-cd36a0f392dd11e5abaef0761ce2cf0a .og-cat-header-first {
        font-size: 13px !important;
    }

    .og-widget.og-incentive-2 .og-cat-header-first, .og-widget.og-incentive-4 .og-cat-header-first, .og-widget.og-incentive-5 .og-cat-header-first, .og-widget.og-incentive-10 .og-cat-header-first, .og-widget.og-incentive-15 .og-cat-header-first, .og-widget.og-incentive-20 .og-cat-header-first {
        font-size: 15px !important;
    }

    .og-widget .og-cat-header-first {
        color: #81878a !important;
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .og-widget .og-cat-header-second {
        color: #43b02a !important;
    }

        .og-widget .og-cat-header-second .og-header-auto, .og-widget .og-cat-header-second .og-header-ship {
            font-size: 23px !important;
            font-weight: 700 !important;
            text-transform: uppercase !important;
            letter-spacing: -.01em !important;
        }

    .og-widget .og-select {
        border: 1px solid #aaa !important;
        font-weight: 700 !important;
        color: #54585a !important;
    }

        .og-widget .og-select:hover {
            color: #54585a !important;
        }

    .og-widget .og-deliver-text {
        position: relative !important;
        text-align: left !important;
    }

        .og-widget .og-deliver-text .og-cat-see-details {
            position: absolute !important;
            top: 0 !important;
            right: -20px !important;
            width: 13px !important;
            height: 13px !important;
            text-align: center !important;
            border: none !important;
            background: #aaa !important;
            color: #fff !important;
            -webkit-border-radius: 10px !important;
            -moz-border-radius: 10px !important;
            border-radius: 10px !important;
            text-decoration: none !important;
            font-size: 1em !important;
            font-weight: 700 !important;
            line-height: 1.2em !important;
        }

            .og-widget .og-deliver-text .og-cat-see-details:hover {
                background-color: #54585a !important;
            }

    .og-widget.og-type-ConfWidget {
        background: transparent !important;
        padding: 0 !important;
        clear: both !important;
    }

        .og-widget.og-type-ConfWidget .og-conf {
            background: url(../images/logo-conf.png) 0 2px no-repeat !important;
            min-height: 30px !important;
            padding-left: 40px !important;
            line-height: 1.5em !important;
            color: #3e3e3e !important;
        }

            .og-widget.og-type-ConfWidget .og-conf .og-conf-text {
                padding-right: 10px !important;
                font-size: 1.2em !important;
                font-weight: 700 !important;
            }

            .og-widget.og-type-ConfWidget .og-conf .og-link {
                color: #54585a !important;
                font-weight: 700 !important;
                text-decoration: none !important;
            }

                .og-widget.og-type-ConfWidget .og-conf .og-link:hover {
                    text-decoration: underline !important;
                }

    .og-widget.og-type-IUWidget {
        padding: 20px 10px !important;
    }

    .og-widget .og-iu-container {
        font-family: franklin-gothic-urw,Arial,Helvetica,sans-serif !important;
        max-width: 400px !important;
    }

    .og-widget .og-iu-container-header {
        color: #555 !important;
        min-height: 20px !important;
        margin: 0 0 10px !important;
    }

        .og-widget .og-iu-container-header span {
            color: #d27700 !important;
            font-weight: 700 !important;
            text-transform: capitalize !important;
            font-size: 12px !important;
        }

    .og-widget .og-iu-incentive {
        font-family: Arial,Helvetica,sans-serif !important;
        font-size: 11px !important;
        line-height: 15px !important;
    }

    .og-widget .og-iu .og-iu-header {
        background-color: #43b02a !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        border-radius: 5px !important;
        color: #fff !important;
        cursor: pointer !important;
        line-height: 1.12em !important;
        padding: 12px 20px !important;
        text-align: center !important;
        font-size: 1.25em !important;
        font-weight: 500 !important;
        margin: 0 0 5px !important;
    }

        .og-widget .og-iu .og-iu-header span {
            background: url(../images/white-logo.png) no-repeat left center #43b02a !important;
            padding-left: 32px !important;
            display: inline-block !important;
            width: 80% !important;
            margin: 0 auto !important;
            text-align: left !important;
            text-transform: uppercase !important;
        }

    .og-widget .og-iu .og-iu-copy {
        text-align: center !important;
    }

        .og-widget .og-iu .og-iu-copy .og-iu-date {
            background: url(../images/iu-next-order.png) no-repeat left center !important;
            color: #43b02a !important;
            line-height: 1.12em !important;
            font-weight: 500 !important;
            padding-left: 20px !important;
        }

    .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 {
        padding: 0 !important;
        margin-top: -47px !important;
    }

        .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 .og-iu-container .og-iu-container-header .og-iu-incentive {
            width: 80% !important;
        }

        .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 .og-iu .og-iu-header {
            padding-left: 9px !important;
        }

            .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 .og-iu .og-iu-header span {
                width: 90% !important;
            }

        .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 .og-iu .og-iu-copy {
            margin-top: 22px !important;
            text-align: center !important;
        }

            .og-widget.og-offer-2b1e82ba7ab211e6829dbc764e117315 .og-iu .og-iu-copy .og-iu-date {
                display: inline-block !important;
                line-height: 14px !important;
                height: 14px !important;
            }

    .og-widget.og-offer-cd36a0f092dd11e5abaef0761ce2cf0a {
        padding: 20px 32px !important;
    }

        .og-widget.og-offer-cd36a0f092dd11e5abaef0761ce2cf0a .og-iu {
            font-size: .8em !important;
        }

            .og-widget.og-offer-cd36a0f092dd11e5abaef0761ce2cf0a .og-iu .og-iu-header {
                padding: 12px 0 !important;
            }

            .og-widget.og-offer-cd36a0f092dd11e5abaef0761ce2cf0a .og-iu .og-iu-copy {
                margin-top: 0 !important;
                text-align: center !important;
            }

                .og-widget.og-offer-cd36a0f092dd11e5abaef0761ce2cf0a .og-iu .og-iu-copy .og-iu-date {
                    display: inline-block !important;
                    line-height: 14px !important;
                    height: 14px !important;
                }

@media (min-width:320px) and (max-width:736px) {
    .og-widget .og-iu .og-iu-header span {
        height: 24px !important;
    }
}

.og-widget {
    font-family: Arial,Helvetica,sans-serif !important;
}

    .og-widget input[type=radio], .og-popup-offer input[type=radio] {
        background: #fff !important;
        width: 14px !important;
        height: 14px !important;
        border: 2px solid #ccc !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
        outline: 0 !important;
        box-shadow: inset 0 0 0 2px #fff !important;
        -webkit-box-shadow: inset 0 0 0 2px #fff !important;
        -moz-box-shadow: inset 0 0 0 2px #fff !important;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        cursor: pointer !important;
    }

        .og-widget input[type=radio]:checked, .og-popup-offer input[type=radio]:checked {
            background: #43b02a !important;
            border: 2px solid #43b02a !important;
        }

    .og-widget .og-orange, .og-popup-offer .og-orange {
        color: #dc7f00 !important;
    }

    .og-widget .og-inline, .og-popup-offer .og-inline {
        display: inline-block !important;
    }
